/*global*/
body{
    font-family: arial;
}
p{
    line-height: 2;
}
img{
    max-width: 100%;
}
a{
    color:white;
    text-decoration: none;
}
/*utility*/
.container{
    width:80%;
    margin-left:auto;
    margin-right: auto;
}
.btn{
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    padding:15px;
    margin-bottom: 20px;
}
.btn-read{
    background-color: black;
    color:white;
}
.btn-info{
    background-color: brown;
    color:white;
}
/*header*/
.header-index{
    background-image: url(./img/banner.jpg);
    background-size: cover;
    height: 400px;
    color:white;
    text-align: center;
}
.header-contact{
    background:black;
    background-size: cover;
    height: 200px;
    color:white;
    text-align: center;
}
.navigation-bar{
    display: flex;
    justify-content:space-around;/*h*/
    align-items: center;/*v*/
}
/*main*/
.main-flex{
    display: flex;
    justify-content: center;
}
.blog-container{
    width: 70%;
    margin-right: 20px;
}
.courses-container{
    width:30%;
}

/* contact */ 
.contact-container{
    display: flex;
    flex-direction: column;
}
.form-container{
    background-color: white;
    margin-top: -50px;
    padding:20px
}
.input-control{
    margin:20px 0;
    display:flex;
    align-items: center;
}
input,textarea{
    width: 78%;
    padding: 5px;
    border-radius: 5px;
    border:1px solid black;
}
label{
    width: 20%;
}